{% extends "main_template.html" %}

{% block header %}


<div style="background-color: gold" align="center">

<h1 style="color: indigo" >
PalsBet.com
</h1>

 <!-- Histats.com  (div with counter) --><div id="histats_counter"></div>
<!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,3982097,4,19,200,40,00011111']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?3982097&101" alt="free web tracker" border="0"></a></noscript>
<!-- Histats.com  END  -->

<p>
Free Predictions:VIP tips
</p>

<table border="0" cellpadding = "8" style="font-size:30px">

<tr>

<td>
<a href="/home/" style="text-decoration:none"<i><b> Home </b></i>
</td>

<td>
<a href="/androidapp/" style="text-decoration:none"<i><b> App </b></i>
</td>

<td>
<a href="/jackpot/" style="text-decoration:none"<i><b> Jackpot </b></i>
</td>


<td>
<a href="/rollover/" style="text-decoration:none"<i><b> Roll Over </b></i>
</td>

<td>
<a href="/payment/" style="text-decoration:none"<i><b> Payment </b></i>
</td>

<td>
<a href="/viptips/" style="text-decoration:none"<i><b> Vip Tips </b></i>
</td>

<td>
<a href="/singlebet/" style="text-decoration:none"<i><b> Single Bet </b></i>
</td>

<td>
<a href="/guide/" style="text-decoration:none"<i><b> Guide </b></i>
</td>

</tr>

</table>
</div>
</p>


{% endblock %}
