{% extends "main_template.html" %}

{% block title %}

PalsBet.com - Vip Services

{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div style="background-color:gold" style="color:white"><div align = "right">  WELCOME {{ user.username }}/   <a href="{% url 'logout' %}">LOG OUT</a></div>

<h1 style="color: indigo" >
PalsBet.com Vip Services
</h1>

 <!-- Histats.com  (div with counter) --><div id="histats_counter"></div>
<!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,3982097,4,19,200,40,00011111']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?3982097&101" alt="free web tracker" border="0"></a></noscript>
<!-- Histats.com  END  -->


<table border="0" cellpadding = "8">

<tr>

<td>
<a href="/homevip/" style="text-decoration:none"<i><b> Home </b></i>
</td>

<td>
<a href="/homeviptips/" style="text-decoration:none"<i><b> Vip Tips </b></i>
</td>

<td>
<a href="/homepunterpicks/" style="text-decoration:none"<i><b> Punter Pick </b></i>
</td>


<td>
<a href="/homerollover/" style="text-decoration:none"<i><b> Roll Over </b></i>
</td>


</tr>

</table>
</div>
</p>

</div>

<div align = "center" >

  <h4 style="color:red">
    Vip Tips Of The Day
</h4>

  {% for item in vip_tips %}
  {% if forloop.first %}
         <i><h4>{{item.published_date}}<h4></i>
     {%endif%}
  {% endfor %}

  <table border="2" cellpadding = "5">

    <tr style='background-color: indigo'>
  <th style='color: white'>Country</th>
  <th style='color: white'>Home Team</th>
  <th style='color: white'>Home Score</th>
  <th style='color: white'>Away Score</th>
  <th style='color: white'>Away Team</th>
  <th style='color: white'>Prediction</th>
  <th style='color: white'>Status</th>
  </tr>

      {% for item in vip_tips %}
      <tr>
          <td style='background-color: plum;' >{{ item.country }}</td>

          <td >{{ item.home_team }}</td>

          <td style='background-color: plum;' >{{ item.home_score}}</td>

          <td style='background-color: plum;' >{{ item.away_score}}</td>

          <td>{{ item.away_team}}</td>

          <td style='background-color: plum;' >{{ item.prediction}}</td>

          {% if item.status == 'Lost' %}

          <td style='background-color: #FF5733;'>{{ item.status}}</td>

          {% elif item.status == 'Won' %}

          <td style='background-color: Limegreen;' >{{ item.status}}</td>

          {% else %}

          <td >{{ item.status}}</td>

          {% endif %}


      </tr>
      {% endfor %}
  </table>

  <p align = "right">
    <i>Good Luck</i>
  </p>
</div>


{% else %}

  <p>You are not logged in</p>

  <a href="{% url 'login' %}">login</a>

{% endif %}

{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
