{% extends "main_template.html" %}

{% block title %}

PalsBet.com - Jackpot and Mega Jackpot analysis

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}
<div align ="center">
<h4>
  We give both midweek and mega jackpot at ksh700 for thirty days
</h4>
<h4>
  If you would like to receive both vip and jackpot services you have to pay ksh1500
</h4>

<a href="/viptips/"
style="text-decoration:none" >
<i style="color:red" > Click here to choose your convenient method of payment</i>
</a> </p>

<hr>

{% include 'generalapp.html' %}
<hr>
 <h3 style="color:blue">
   Our Betting Strategy
 </h3>
 <p>
   We follow many football leagues, and frequently we watch games.We have statistics of teams and positions.We also make a follow up of suspended and injured players which affects the results.We also consider team conditions and players perfomances.If one team played well but lost the match,we consider that and have opinion about the next matches.
 </p>
<br>
<h3 style="color:blue">
  Our Betting Experiences
</h3>
<p>
  We have been betting for over 5 years.At first we were betting with local bookies in our country.After some time we found global bookies over the internet and started sharing our tips.In a short period of time we had a successful history.We enjoy betting and of course winning.We always try our best and win with our followers.
</p>
</div>
<br>
<br>

{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
