{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<html>

<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <meta name="robots" content="index, follow" />

  <meta name="keywords" content="palsbet, palsbet.com, palsbet predictions, palsbet vip tips, palsbet tips,
   palsbet jackpot, palsbet fixed matches, palsbet scores, prediction, predictions, football tips, forecast,
    mathematical football predictions, tips, soccer tips, football predictions, football score prediction,
    football stats, statistics, football statistics, football match previews,soccer livescore, soccer,
    livescore, results, football results, soccer results, team stats, player stats, injured players,
    odds comparison, standings table, fixtures,football,soccer,match,matches,bet,bets,betting,tips,help,
    charts,statistic,statistics,score,scores,chance,
  result,results,prediction,bookmaker,bookmakers,coefficient,analize,predictions,statistics,form,free,tips,
  football,soccer,free bets,bet offers" />

  <meta name="description" content="Mathematical football predictions and betting tips for over 150 football leagues. Full soccer statistics with in-depth team and match stats Site for soccer football statistics, predictions, bet tips, results and team information" />

  <title>

  {% block title %}

  {% endblock %}

</title>

</head>

<body>

{% block header %}

{% endblock %}

{% block over_view_contact %}

{% endblock %}

<div style="background-color:silver;" align = "center">

{% block content %}

{% endblock %}

</div>

{% block footer %}

{% endblock %}

</body>


</html>
