{% extends "main_template.html" %}

{% load static %}

{% block over_view_contact %}
<p>
<font style="color:blue">PalsBet 30 winning day vip subscription</font>(<font style="color:red">loosing days not counted</font>)
At <font style="color:blue">ksh 999, 5000 Naira, 15 Usd, 200 Rand, 100 Cedis, 40000 Ush, 25000Tsh</font>
Talk with us with our live chat system, whatsapp <font style="color:blue">+254798265307</font> or
     <font style="color:blue">palsbet1@gmail.com</font> =><font style="color:red"> winning 5 or 6 days a week</font>
<p>
{% endblock %}
