{% extends "main_template.html" %}

{% block title %}

PalsBet.com - Roll Over Plan

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

<div align = "center">
<h2 align="center">
	palsbet.com Roll Over Plan
</h2>

<h3>
<i>
	<p><i>palsbet.com have introduced roll over plan for its VIP subscribers.</i></p>
	<p><i>In roll over plan we give 1.35 odds which are sure and secure to stake high</i></p>
</i>
</h3>

<h3  style="color: red">
	palsbet.com this week example on how the roll over works
</h3>

<p>
  <table border="4" cellpadding = "8">
<tr style="background-color: #778899" >
<td style="color: white">DAY</td>
<td style="color: white">STAKE</td>
<td style="color: white">ODDS</td>
<td style="color: white">OUTCOME</td>
<td style="color: white">STATUS</td>
</tr>

  <tr>
       <td> 1 </td>
       <td>3000</td>
       <td> 1.35 </td>
       <td>4,050</td>
       <td style='background-color: Limegreen;' > Won</td>

  </tr>

<tr>
       <td>2</td>
       <td>4,050</td>
       <td> 1.35 </td>
       <td>5,468 </td>
       <td style='background-color: Limegreen;' > Won</td>

  </tr>

  <tr>
       <td>3</td>
       <td> 5,468 </td>
       <td> 1.35 </td>
       <td> 7,381 </td>
       <td style='background-color: Limegreen;' > Won</td>

  </tr>

  <tr>
       <td> 4</td>
       <td>7,381 </td>
       <td> 1.35 </td>
       <td>9,965 </td>
       <td style='background-color: Limegreen;' > Won</td>

  </tr>

<tr>
       <td> 5</td>
       <td> 9,965 </td>
       <td> 1.35 </td>
       <td> 13,452 </td>
       <td style='background-color: Limegreen;' > Won</td>

  </tr>

  <tr>
       <td>6 </td>
       <td> 13,452 </td>
       <td> 1.35 </td>
       <td> 18,160 </td>
       <td style='background-color: Limegreen;' > Won</td>

  </tr>

  <tr>
       <td>7 </td>
       <td>18,160 </td>
       <td> 1.35</td>
       <td> 24,516 </td>
       <td style='background-color: Limegreen;' > Won</td>

  </tr>

</table>


<p>   <a href="/viptips/"
>
<i>click here to join both roll over and vip tips</i>
</a> </p>
</div>

{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
