{% extends "main_template.html" %}

{% block title %}

PalsBet.com - Time of Sending vip Tips

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

<p>
  We send our vip tips at around noon for easy betting on our punters
</p>

<p>
<iframe scrolling='no' frameBorder='0' style='padding:0px; margin:0px; border:0px;border-style:none;border-style:none;' width='728' height='90' src="https://refbanners.com/I?tag=d_61247m_3495c_&site=61247&ad=3495" ></iframe>
</p>

{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
